<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script} )}">
<!-- <html lang="en" th:replace="base :: parent(::#content)"></html> -->
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content"> 
        <h1>Welcome to Contact page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit expedita eos necessitatibus, voluptatibus deserunt libero corrupti fugiat numquam blanditiis laudantium et exercitationem facere magnam, rerum modi mollitia delectus non? Minima.</p>
    </div>

    <script>
        console.log("home Page");
    </script>
</body>
</html>